i{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 45px;
    background: transparent;
    padding: 7px 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    border: 1px solid black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
  }
  i:hover{
    transition: .5s;
    background: #333;
  }
  